.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___name {
  background-color: #fff;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  flex: 1 1 100%;
}

.fighter-preview___img {
  height: 200px;
}

.fighter-preview___params {
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  padding: 0 1rem;
}
